body {
  background-color: #051923;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  /* flex: 1; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-color: #0582ca;
  border-radius: 15px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-log {
  padding: 15px;
  background-color: #0582ca;
  border-radius: 15px;
  /* width: 800px; */
  /* height: auto; */
  /* display: flex; */
  /* flex: 1; */
}

.center-content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.computer-stats,
.play-stats {
  display: flex;
  margin: 50px;
  width: 300px;
  background-color: #0582ca;
  border-radius: 15px;
  height: 300px;
}

.header-text {
  color: white;
  text-align: center;
  font-size: 26px;
}

.game-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

button {
  font-size: 16px;
  background-color: #0582ca;
  width: 175px;
  height: 35px;
  border-radius: 15px;
  border: white;
  border-style: solid;
  cursor: pointer;
}

.header {
  margin: 35px;
}

.controls {
  padding: 15px;
  background-color: #0582ca;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

li {
    padding: 25px;
  text-align: center;
  /* gap: 20px; */
  list-style-type: none;
  border: #003554;
  border-style: solid;
  border-radius: 15px;
}



.header h1 {
  color: white;
}
.light-blue {
  color: #00a6fb;
}

.secondary-blue {
  color: #0582ca;
}

.dark-blue {
  color: #006494;
}

.darkest-blue {
  color: #003554;
}
